.mt15 {
    margin-top: 15px;
}

.mb15 {
    margin-bottom: 15px;
}

.mt32 {
    margin-top: 32px;
}

.mb32 {
    margin-bottom: 32px;
}

.mt64 {
    margin-top: 64px;
}

.mb64 {
    margin-bottom: 64px;
}

.mv64 {
    margin: 64px 0
}

.mv32 {
    margin: 32px 0
}

.pv15 {
    padding: 15px 0
}

.hide {
    display: none !important
}

.lh16 {
    line-height: 1.6;
}

.f200 {
    font-size: 200%;
}

.white {
    color: white
}